.courses{
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
}
.crs-names{
    font-weight: bold;
}
.crs-langs{
    color: blue;
    margin-left: 13px;
}
.detail-btn{
    margin-left: 11px;
    color: gray;
}