@import '../Style/constants.scss';


#msg-popup-reply{
    background: #f9f9f9;
    margin: auto;
    width: 521px;
    padding: 30px;
    display: flex;
    height: 381px;
    z-index: 1000;
    overflow-y: auto;
    font-size: 13px;
    border-radius: 6px;
    padding-right: 45px;
 
    #content-box{
        width: -webkit-fill-available;
        margin-right: -29px;
        #imgNfrom{
            display: flex;
            align-items: center;

            img{
                width: 100px;
                height: 100px;
                border-radius: 106px;
                box-shadow: 1px -1px 10px $shadowColor;        
                border: 4px solid white;
                margin-right: 18px;
            }

        }
        #content{

            margin-top: 15px;
            background: #fba50233;
            padding: 9px;
            border-radius: 7px;

        }

        #dt{
            font-size: 13px;
            color: gray;
            text-align: right;
        }

        #reply-box{
            background: #8080801c;
            padding: 10px;
            margin-top: 7px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            textarea{
                width: -webkit-fill-available;
                height: 110px;
                font-size:  13px;
            }

            #reply-btn{
                align-self: flex-end;
                margin-top: 18px;
                height: 21px;
                cursor: pointer;
                background: $btnColor;
                color: white;
                padding: 5px;
                width: 81px;
                text-align: center;
                font-size: 15px;
                border-radius: 6px;
                background: $btnColor;
            }
        }

    }

    #ic-close{
        position: relative;
        right: -37px;
        top: -26px;
        cursor: pointer;
        font-size: 22px;
        color: gray;
    }
        
}