.my-course{
    width: 608px;
    padding: 20px;
    background: #0000ff14;
    border-radius: 22px;
    margin: 10px 0;
    box-shadow: 1px 1px 12px #8080806b;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;


    >div{
        margin-bottom: 5px;
        display: flex;
        .f-name{
            color: gray;
            margin-right: 8px;
        }

        .crs-name{
            color: #ec56ec;
        }
    }
    .more-info-btn{
        align-self: flex-end;
        width: 111px;
        color: gray;
        cursor: pointer;
    }
}