.tags{
    // padding: 1px 4px;
    // background: #e4e2e2;
    // margin: 6px;
    span{
        margin-right: 3px;
    }
    i{
       cursor: pointer; 
    }

    height: 22px;
    font-size: 13px;
    background: #949494;
    color: white;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 7px;
    margin: 2px;
    line-height: 19px;
}