

@import "../Style/constants.scss";


#top-bar__dash {
    position: relative;
    top: 0;
    z-index: 150;
    
    &.top-bar{
        position: fixed;
        width: 100%;
        height: 59px;
        display: flex;
        justify-content: space-between;
        box-shadow: 5px 5px 5px #8080806b;
        background: white;

        .main-logo-n-name{
            margin-top: 15px;
            margin-left: 76px;
            cursor: pointer;

            .bubble{
                border: 2.5px solid $primaryColor;
                border-radius: 9px;
                width: 109px;
                height: 25px;
            }    

            .tail-border{
                border: 6px solid $primaryColor;
                max-height: 8px;
                max-width: 0px;
                border-bottom-color: transparent;
                border-right-color: transparent;
                position: relative;
                left: 9px;
                top: -2px;
            }
            .tail-fill{
                border: 3px solid white;
                /* height: 18px; */
                max-width: 0px;
                border-bottom-color: transparent;
                border-right-color: transparent;
                position: relative;
                top: -14.9px;
                left: 12px;

            }


            span{
                color: $primaryColor;
                position: relative;
                top: -46px;
                left: 6px;
                font-family: 'Baloo Bhai', cursive;
                font-size: 19px;
            }




        }

        #ic-links {
            color: #bdbcbc9c;
            font-size: 25px;
            display: flex;
            align-items: center;
            margin-right: 56px;
            >div{
                margin: 0px 28px;
                cursor: pointer;
                width: max-content;
                background: transparent;
                &:hover, &.current{
                    text-shadow: 0px 3px 3px #808080d4;
                    color: $primaryColor;
                }
                
                span{
                    font-size: 15px;
                    position: relative;
                    top: -4px;
                    /* margin-bottom: 2px; */
                    left: 9px;
                }

                #ic-hasNewMsg{
                    font-size: 10px;
                    color: red;
                    text-shadow: 0px 1px 7px red;
                    position: absolute;
                    &.hide{
                        display: none;
                    }
                }

            }
        }
        #drop-down-menu{
            top: 59px;
            position: fixed;
            right: 49px;
            background: white;
            width: 179px;
            border-bottom: 1px solid #d8d8d8;
            border-left: 1px solid #d8d8d8;
            border-right: 1px solid #d8d8d8;
            color: gray;
            font-size: 15px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            >div{
                margin: 13px 22px;
                cursor: pointer;
            }

            &.show{
                display: block;
            }
            &.hide{
                display: none;
            }
        }
    }
}


